@import "../../baseStyles/variables";

.total {
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
  border-bottom: 1px solid #D5DDE0;
  margin-bottom: 50px;

  &__price {
    font-size: 18px;
    font-weight: 500;

    span {
      color: #BABDC2;
    }
  }
}