@import "../../baseStyles/variables";

.promo {
  width: 33%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  &__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: #FAE1BE;
    margin-bottom: 25px;
  }

  &__title {
    margin-bottom: 40px;
  }

  &__description {
    width: 50%;
    text-align: center;
    color: #818FB3;
  }
}