@import "../../baseStyles/variables";
@import "../../baseStyles/reset";
@import "../../baseStyles/smart-grid";

.App {
  display: flex;
  align-items: baseline;
  font-family: 'Cera Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.48;
  color: #000;
  background-color: #E9EFFC;
}

.form {
  width: 56%;
  margin: 30px 0;
  padding: 40px;
  background-color: #F5F8FF;
  border-radius: 6px;
  box-sizing: border-box;
}

.title {
  font-weight: 700;
  font-size: 22px;
}

.subtitle {
  font-size: 18px;
  font-weight: 700;
}

.btn {
  padding: 12px 34px;
  font-weight: 500;
  color: #fff;
  background-color: $blue;
  border-radius: 20px;

  &:hover {
    background-color: $yellow;
  }

  &:disabled {
    opacity: .6;
    cursor: not-allowed;

    &:hover {
      background-color: $blue;
    }
  }
}

.products {
  display: flex;
  gap: 10%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #D5DDE0;

  .subtitle {
    margin-bottom: 16px;
  }
}
