@import "../../baseStyles/variables";
@import "../../baseStyles/smart-grid";

.checkout__description {
  margin-bottom: 30px;
  color: #818FB3;

  a {
    color: $blue;

    &:hover {
      text-decoration: underline;
    }
  }

  @include xs-block() {
    text-align: center;
  }
}