@import "../../baseStyles/variables";

.product-selection {
  width: 55%;

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: start;

    &__item {
      height: 130px;
      position: relative;
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      overflow: hidden;
      z-index: 3;

      &:hover {
        &::after {
          animation: move_wave 3s linear infinite;
        }
      }

      &::after {
        content: '';
        position: absolute;
        width: 200%;
        height: 100%;
        left: 0;
        top: 0;
        background-image: url('../../img/wave.svg');
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
        transform-origin: center bottom;
        z-index: 1;
      }

      &__input {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0;
        cursor: pointer;
        z-index: 3;

        &:checked + label {
          background-color: $yellow;
        }
      }

      &__label{
        position: absolute;
        width: 8px;
        height: 8px;
        top: 12px;
        right: 12px;
        border-radius: 50%;
        background: #D5DDE0;
      }

      &__size {
        margin: 12px 0 0 12px;
        font-size: 18px;
        font-weight: 500;
      }

      &__amount {
        margin-left: 12px;
        font-size: 10px;
        font-weight: 500;
        color: #BABDC2;
      }

      &__price {
        position: relative;
        margin: auto 0 12px 12px;
        color: #fff;
        font-weight: 500;
        z-index: 2;
      }

      &__img {
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
        z-index: 2;
      }
    }
  }
}

@keyframes move_wave {
  0% {
    transform: translateX(0) translateZ(0) scaleY(1)
  }
  50% {
    transform: translateX(-25%) translateZ(0) scaleY(0.55)
  }
  100% {
    transform: translateX(-50%) translateZ(0) scaleY(1)
  }
}